body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: blue;
}

.card-link-mycard {
  text-decoration: none; /* Remove underline from the link */
}

.card-mycard {
  background-color: #fff; /* Set your preferred background color */
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values to control the shadow */
  transition: box-shadow 0.3s ease; /* Optional: Add a smooth transition effect */
  overflow: hidden; /* Ensure the image does not overflow the card */

  /* Add hover effect (optional) */
  transition: transform 0.3s ease;
}

.card-mycard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Adjust the values for the hover effect */
  transform: translateY(-5px); /* Optional: Add a slight lift on hover */
}

.card-mycard img {
  width: 100%; /* Make the image fill the entire width of the card */
  border-bottom: 1px solid #ddd; /* Optional: Add a border between the image and content */
}
